.settings {
  .section-grid {
    display: flex;
    justify-content: space-between;
    .section-grid-child {
      width: 49%;
      .config-box {
        border-radius: 33px;
        padding: 25px;
        margin-top: 10px;
        box-sizing: border-box;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 0 8px 0px #e8e8e8;
        .config-box-child {
          display: flex;
          align-items: center;
          p {
            font-weight: 700;
            margin-right: 20px;
          }
          input {
            margin-right: 10px;
          }
          .btn-shape {
            button {
              margin-right: 15px;
              border: 1px solid #c1c1c1;
              padding: 10px 25px;
              background-color: #fff;
              cursor: pointer;
              &:focus {
                outline: none;
              }
              &:first-child {
                border-radius: 30px;
              }
              &:nth-child(2) {
                border-radius: 8px;
              }
            }
          }

          input {
            border: 1px solid #c1c1c1;
            padding: 8px;
            border-radius: 3px;
            &:focus {
              outline: #1c19f3;
            }
          }
        }

        .color-picker {
          display: flex;
          & > div {
            margin-right: 30px;
          }
        }
      }

      .bg-linear {
        background: linear-gradient(
          86deg,
          rgba(25, 195, 201, 1) 0%,
          rgba(54, 135, 223, 1) 100%
        );
      }
    }
  }

  .config-header {
    display: flex;
    align-items: center;
    p {
      margin-left: 10px;
    }
  }
}

.preview {
  min-height: 50vh;
  text-align: center;
  margin-top: 100px;
  position: relative;
  span {
    margin-bottom: 0;
    color: red;
    display: block;
    font-size: 12px;
  }
  input {
    font-size: 14px;
    padding: 8px;
    border: 1px #688dfd solid;
    border-radius: 3px;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
  }
  & > p {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
  }
  button {
    padding: 10px 25px;
    border: none;
    font-weight: 700;
    cursor: pointer;
    transition: all 300ms ease;
    margin-top: 10px;
  }
  .preview-tips {
    background-color: #eaeaea;
    border-radius: 3px;
    text-align: left;
    margin-top: 50px;
    padding: 15px;
    position: absolute;
    bottom: 0px;
    border-radius: 20px;
    p {
      color: #000;
      text-decoration: none;
    }
  }
}

.highlighter {
  max-height: 70vh;
  max-width: 700px;
  span {
    font-family: monospace;
    font-size: 13px;
  }
}
